* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 0.9375rem;
  // width: 90%;
  padding: 0.9375rem;
  // margin: 0 auto;
  // border: 1px solid orangered;

}

.center_text {
  text-align: center;
}